*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.a{
	height: 4000px;
	width: 600px;
	background-color: darkblue;
}
h4{
	text-align:center;
}
.b{
	background-image: url('../project-1/images/diamond.avif');
    background-image: cover;
    height: 350px;
    width: 600px;
    background-repeat: no-repeat;
}
.c{
	color: #FD8D14;
	text-align:left;
	padding-top: 200px;
	padding-bottom: 20px;
	margin-left: 50px;
	font-size: 20px;
}
p{
	text-align: left;
	width: 500px;
	margin-right: 60px;
	color: white;
}
.p1{
	height: 200px;
	width: 500px;
	text-align: center;
	color: white;
}
.button{
	border: 2px solid orange;
	border-radius: 5px;
	width: 100px;
	margin-right: 500px;
	margin-top: 10px;
	background-color: #7A316F;
	color: white;
}
.k{
	margin-top: 10px;
}
.second{
	height: 400px;
	width: 600px;
	background-color: white;
}
.third{
	height: 400px;
	width: 300px;
	float: left;
	background-color: white;
}
.b1{
	height: 250px;
	width: 300px;
	float: left;
	margin-top: 20px;
	margin-right:20px ;
}
h6{
	text-align: center;
	margin-top: 300px;
}
.about{
	height: 400px;
	width: 300px;
	float: right;
	background-color: white;
}
h3{
	text-align: left;
	font-size: 20px;
	padding-top: 20px;
	padding-left: 40px;
	color: darkblue;
}
.k1{
	text-align: left;
	width: 300px;
	margin-right: 60px;
	color: #9BA4B5;
}
.k2{
	text-align: left;
	width: 300px;
	margin-right: 60px;
	color: darkblue;
}
ul{
	border: 2px solid darkblue;
	font-size: 15px;
	margin-top: 40px;
	margin-left: 80px;
	display: inline-block;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: darkblue;
	color: white;
}
.good{
	height: 400px;
	width: 300px;
	background-color: darkblue;
	float: left;
}
.k3{
	text-align: center;
	width: 200px;
	margin-right: 60px;
	color: orange;
	font-size: 30px;
	padding-top: 10px;
	margin-left: 50px;
	float: left;
}
.k4{
	text-align: left;
	width: 300px;
	margin-right: 60px;
	color: white;
	font-size: 20px;
	padding-top: 10px;
	margin-left: 10px;
	float: left;
}
.s2{
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
	color: white;
}
.button2{
	border: 2px solid orange;
	border-radius: 5px;
	width: 100px;
	margin-top: 30px;
	background-color: darkblue;
	color: white;
}
.k5{
	height: 400px;
	width: 300px;
	float: left;
	background-color: darkblue;
}
.s3{
	height: 200px;
    width: 200px;
	float:left;
	margin-top: 100px;
	margin-left: 50px;
	border: 2px solid white;
	border-radius: 150px;
}
.bad{
	height: 1000px;
	width: 600px;
	background-color: red;
}
.t{
	text-align: center;
	font-size: 10px;
	color: #40128B;
	margin-top: 20px;
	font-family: cursive;
}
.t1{
	text-align: center;
	font-size: 25px;
	color: #40128B;
	margin-top: 10px;
	background-color: white;
}
.Q{
	height: 300px;
	width: 600px;
	background-color: white;
}
.Q1{
	height: 300px;
	width: 600px;
	background-color: white;
}
.q1{
	height: 270px;
	width: 180px;
	background-color: whitesmoke;
	float: left;
	border: 2px solid white;
	border-radius: 10px;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 2px orange;
}
.q2{
	height: 270px;
	width: 180px;
	background-color: whitesmoke;
	float: left;
	border: 2px solid white;
	border-radius: 10px;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 2px orange;
}
.q3{
	height: 270px;
	width: 180px;
	background-color: whitesmoke;
	float: left;
	border: 2px solid white;
	border-radius: 10px;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 2px orange;
}
.q4{
	height: 270px;
	width: 180px;
	background-color: whitesmoke;
	float: left;
	border: 2px solid white;
	border-radius: 10px;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 2px orange;
}
.q5{
	height: 270px;
	width: 180px;
	background-color: whitesmoke;
	float: left;
	border: 2px solid white;
	border-radius: 10px;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 2px orange;
}
.q6{
	height: 270px;
	width: 180px;
	background-color: whitesmoke;
	float: left;
	border: 2px solid white;
	border-radius: 10px;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 2px orange;
}
.f3{
	height: 50px;
	width: 50px;
	margin-top: 20px;
}
.f9{
	text-align: center;
	margin-right: 40px;
	margin-bottom: 20px;
}
.para{
	text-align: centre;
	font-size: 10px;
	color: black;
}
.para1{
	text-align: centre;
	font-size: 10px;
	color: black;
}
.button5{
	border: 2px solid orange;
	border-radius: 15px;
	width: 100px;
	margin-top: 30px;
	background-color: orange;
	color: white;
	font-size: 15px;
}
.plan{
	height: 600px;
	width: 600px;
	background-color: darkblue;
}
.plan1{
    height: 500px;
    width: 300px;
    background-color:darkblue ;
    float: left;
}
.plan2{
	height: 500px;
    width: 300px;
    background-color:darkblue;
    float: left;
}
.g1{
	height: 150px;
	width: 150px;
	margin-top: 100px;
	border: 2px solid white;
	border-radius: 70px;
}
.dad{
	color: white;
	font-size: 15px;
	text-align: left;
	margin-left: 75px;
	margin-bottom: 20px;
}
.mom{
	color: white;
	font-size: 10px;
	text-align: left;
	margin-left: 50px;
}
.sis{
		color: white;
	font-size: 10px;
	text-align: left;
	margin-left: 50px;
}
.j1{
	color: white;
	font-size: 10px;
	text-align: left;
	margin-left: 70px;
}
.arrow{
	height: 30px;
	width: 30px;
	border: 2px solid orange;
	border-radius: 5px;
	margin-top: 50px;
}
.g2{
	height: 180px;
	width: 250px;
	margin-top: 30px;
	border: 2px solid white;
	border-radius: 15px;
}
.o2{
	color: orange;
}
.paragraph1{
	text-align: left;
	font-size: 10px;
	margin-left: 20px;	
}
.paragraph2{
	text-align: left;
	font-size: 10px;
    margin-left: 20px;
}
.paragraph3{
	text-align: left;
	font-size: 10px;
	margin-left: 20px;
}
.w1{
	font-size: 10px;
	text-align: center;
	margin-top: 20px;
    color: white;
}
.table{
	height: 400px;
	width: 600px;
	background-color: white;
}
.u1{
	font-size: 30px;
	color: orange;
	padding-top: 30px;
}
.e1{
	height: 200px;
	width: 180px;
	border: 2px solid white;
	border-radius: 15px;
	box-shadow: 0px 4px 2px orange;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	float: left;
	background-color: whitesmoke;
}
.e2{
	height: 200px;
	width: 180px;
	border: 2px solid white;
	border-radius: 15px;
	box-shadow: 0px 4px 2px orange;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	float: left;
	background-color: whitesmoke;
}
.e3{
	height: 200px;
	width: 180px;
	border: 2px solid white;
	border-radius: 15px;
	box-shadow: 0px 4px 2px orange;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	float: left;
	background-color: whitesmoke;
}
ol{
	display: inline-block;
	font-size: 15px;
	margin-top: 5px;
}
.button8{
	border: 2px solid orange;
	border-radius: 5px;
	width: 100px;
	margin-top: 30px;
	background-color: white;
	color: black;
	height: 30px;
}
.lion{
	height: 900px;
	width: 600px;
	background-color: darkblue;
	position: relative;
}
.c1{
	font-size: 30px;
	color: orange;
	text-align: center;
	padding-top: 20px;
}
.c2{
	font-size: 15px;
	text-align: center;
	color: white;
}
.c3{
	font-size: 15px;
	text-align: center;
	color: white;
}
.c4{
	height: 500px;
	width: 180px;
    background-color:skyblue;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
.c5{
	height: 500px;
	width: 180px;
    background-color:orange;
    float: left;
    margin-top: 30px;
}
.c6{
	height: 500px;
	width: 180px;
    background-color:purple;
    float: left;
    margin-top: 30px;
}
.c7{
	text-align: left;
	font-size: 20px;
	color: white;
	padding-top: 300px;
	display: inline-block;
}
.c8{
	text-align: left;
	font-size: 8px;
	color: white;
    display: inline-block;
    padding-top: 0px;
    margin-top: 2px;
}
.c9{
	text-align: left;
	font-size: 10px;
	color: white;
	display: inline-block;
}
.c10{
	text-align: left;
	font-size: 10px;
	color: white;
	display: inline-block;
}
.c20{
	text-align: center;
	font-size: 10px;
	margin-left: 20px;
}
.y1{
	height: 300px;
	width: 240px;
	background-color: whitesmoke;
	float: left;
	margin-left: 50px;
	margin-top: 80px;
	background-color: whitesmoke;
}
.y2{
	height: 300px;
	width: 240px;
	background-color: whitesmoke;
	float: left;
	margin-left: 20px;
	margin-top: 80px;
	background-color: whitesmoke;
}
.last{
	text-align: left;
	color: #40128B;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 10px;
}
.last1{
	text-align:left;
	color: orange;
	font-size: 20px;
	margin-left: 10px;
	text-transform: capitalize;
}
.last2{
	text-align:left;
	color: orange;
	font-size: 20px;
	margin-left: 10px;
	text-transform: capitalize;
}
.last3{
	text-align:left;
	color: orange;
	font-size: 20px;
	margin-left: 10px;
	text-transform: capitalize;
}
.m1{
	font-size: 10px;
	color: darkblue;
	padding-top: 5px;
	margin-left: 10px;
}
.m2{
	font-size: 10px;
	color: darkblue;
	padding-top: 5px;
	margin-left: 10px;
}
.m3{
	font-size: 10px;
	color: darkblue;
	padding-top: 5px;
	margin-left: 10px;
}
.m4{
	font-size: 15px;
	color: orange;
	padding-top: 5px;
	margin-left: 10px;
}
.m5{
	font-size: 15px;
	color: orange;
	padding-top: 5px;
	margin-left: 10px;
}
.i{
	margin-left: 10px;
	margin-top: 30px;
}
.m6{
	text-align: left;
	margin-left: 10px;
	font-size: 10px;
	margin-top: 30px;
	color: #40128B;
}
.m7{
	font-size: 20px;
	color: orange;
	margin-top: 30px;
	margin-left: 15px;
	text-align: left;
}
.r1{
	margin-right: 175px;
}
.r2{
	border: 2px solid orange;
	border-radius: 5px;
	width: 200px;
	margin-top: 30px;
	background-color: orange;
	color: white;
	height: 30px;
}
.semifinal{
	height: 150px;
	width: 600px;
	background-color: white;
}
.final{
	height: 200px;
	width: 600px;
	background-color: black;
}
.final1{
	text-align: center;
	color: white;
	font-size: 15px;
	padding-top: 50px;
}
.final2{
	text-align: center;
}
a{
	text-align: center;
}